body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: rgb(4, 17, 77);
  }
  
  p {
    color: rgb(0, 0, 0);
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
  }  
  .profile-pic {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  h2 {
      color: darkgreen;
  }
  h3 {
    color: darkgreen;
}
